<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Server=.;Database=NikiCars;Integrated Security=true;" />
    <add key="signingKey" value="JhasjkdakaJ_Sasaakk^tshsh_sJDjamasnakl7kaMla_asasd,wqkq*akasjdaasdL:k;;a?:;;nbvOOPbnvSnvbnSfgdLDnfcvbaGadlsdls" />
	  <add key="secutityKey" value="hr7_hs%x*0J_hdTr" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>